<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome, here's your Reminder!</h1>
    <hr/>
    <p>
      <%= @content %><br/>
    </p>
    <p>
      <%= Time.parse(@delivery) %><br/>
    </p>
    <p>Thanks for using Remind.me!</p>
  </body>
</html>
