<header>
	<h1>Reminders!</h1>
</header>
<form action="mailto:hrodriguez_590@hotmail.com" method="post">
	<p>
	<label for="mensaje">Escribe tu mensaje:</label><br/>
	<textarea rows="5" cols="50">
	</textarea>
	</p>

	<p>
	<label for="correo">Email:</label><br/>
	<input type="text" name="email" id="correo"/>
	</p>

	<input type="submit" value="Enviar"/>
</form>
